{% load bootstrap3 %}
{% load static %}

<!-- title -->
{% block title %}
  {% if title %}
    <title>HolBox -
      {{title}}</title>
    {%else%}
    <title>HolBox</title>
  {% endif %}
{% endblock %}

<!-- styles -->
{% block styles %}
  {% bootstrap_css%}
  <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
{% endblock %}

<!-- body -->
{% block body %}
  {% block navbar%}
    {% include 'navbar.html' %}
  {% endblock %}
  {% block content %}{% endblock %}

{% endblock %}

<!-- scripts -->
{% block scripts %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
  {% bootstrap_javascript %}
{% endblock %}
