{% load bootstrap3 %}
{% load static %}
{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/drivers.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="car-header"></div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="portal-info">
        <div class="container">
          <div class="card">
            <div class="col-md-4">
              <div class="students">
                <h3>Student Portal</h3>
                <h5>Find everything you need to manage your personal university information.</h5>
                <form>
                  <a href="/" class="btn btn-danger btn-lg navbar-btn">
                    STUDENT
                  </a>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="card">
            <div class="col-md-4">
              <div class="lecturer">
                <h3>LECTURER Portal</h3>
                <h5>Manage your students, classes and review projects, and more.</h5>
                <form>
                  <a href="/" class="btn btn-danger btn-lg navbar-btn">
                    LECTURER
                  </a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>

{% endblock %}

{% block scripts %}
{% bootstrap_javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
