{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/portal.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
  {{block.super}}

  <header class="landing_page">
    <div class="tab">
      <div class="list-group">
        <a href="/lec/discover" data-url="/lec/discover" class="list-group-item text-center">
          <h4 class="glyphicon glyphicon-home"></h4><br/>Home
        </a>
        <a href="#profile" data-url="/lec/discover" class="list-group-item text-center">
          <h4 class="glyphicon glyphicon-road"></h4><br/>Account
        </a>
        <a href="#" class="list-group-item text-center">
          <h4 class="glyphicon glyphicon-cutlery"></h4><br/>Units
        </a>
        <a href="#" class="list-group-item text-center">
          <i class="fa fa-tasks fa-2x" aria-hidden="true"></i>
          <br/>Projects
        </a>
        <a href="#" class="list-group-item text-center">
          <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
          <br/>Submissions
        </a>
        <a href="#" class="list-group-item text-center">
          <h4 class="glyphicon glyphicon-credit-card"></h4><br/>Grading
        </a>
        <a href="#" class="list-group-item text-center">
          <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
          <h4 class="glyphicon glyphicon-graduation-cap"></h4><br/>Academic Records
        </a>
      </div>
    </div>
    <div class="tab-content">
      <div id="profile"></div>
      <div id="tab_images" class="tab-pane active"></div>
      <div id="tab_videos" class="tab-pane active"></div>
    </div>
  </header>
{% endblock %}

{% block scripts %}
  {% bootstrap_javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>

{% endblock %}
