{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/portal.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <header class="landing_page">
    <div class="tab">
      <div class="list-group panel">
        <a href="#discover" data-url="{% url 'discover' %}" class="list-group-item text-center">
          <h4 class="glyphicon glyphicon-home"></h4><br/>Home
        </a>
        <a href="#profile" data-url="{% url 'account' user.id %}" class="list-group-item text-center">
          <h4 class="glyphicon glyphicon-road"></h4><br/>Account
        </a>
        <a href="#units" class="list-group-item list-group-item text-center" data-parent="#MainMenu" data-toggle="collapse">
          <i class="fa fa-tasks fa-2x" aria-hidden="true"></i>
          <br/>Units<b class="caret"></b>
        </a>
        <div class="collapse" id="units">
          {% for unit in units %}
            <a href="#" class="list-group-item text-center">{{unit.code}}
              <br/>{{unit.name}}</a>
            {% empty %}
            <a href="#" class="list-group-item text-center">Subitem 2<br/>Sub subitem2</a>
            <a href="#" class="list-group-item text-center">Subitem 3<br/>Sub subitem3</a>
          {% endfor %}
        </div>
        <a href="#project" data-url="{% url 'create_project'%}" class="list-group-item text-center">
          <i class="fa fa-tasks fa-2x" aria-hidden="true"></i>
          <br/>Projects
        </a>
        <a href="#" class="list-group-item text-center">
          <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
          <br/>Submissions
        </a>
        <a href="#" class="list-group-item text-center">
          <h4 class="glyphicon glyphicon-credit-card"></h4><br/>Grading
        </a>
        <a href="#" class="list-group-item text-center">
          <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
          <h4 class="glyphicon glyphicon-graduation-cap"></h4><br/>Academic Records
        </a>
      </div>
    </div>
    <div class="tab-content">
      <div id="discover" class="tab-pane active"></div>
      <div id="profile" class="tab-pane active"></div>
      <div id="units" class="tab-pane active"></div>
      <div id="tab3" class="tab-pane active"></div>
      <div id="tab4" class="tab-pane active"></div>
      <div id="tab5" class="tab-pane active"></div>
      <div id="project" class="tab-pane active"></div>
    </div>
  </header>
{% endblock %}

{% block scripts %}
  {% bootstrap_javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="external/jquery.ui.core.min.js"></script>

  <script type="text/javascript" src="external/jquery.ui.widget.min.js"></script>

  <script type="text/javascript" src="js/jquery.integralui.widget.min.js"></script>

  <script type="text/javascript" src="js/jquery.integralui.tabstrip.min.js"></script>
  <script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>

{% endblock %}
